#square {
    height: 100px;
    width: 100px;
    background-color: olive;
}

#rectangle {
    height: 100px;
    width: 175px;
    background-color: paleturquoise;
}

#circle {
    height: 100px;
    width: 100px;
    background-color:purple;
    border-radius: 50%;
}

#oval {
    height: 100px;
    width: 175px;
    background-color: slateblue;
    border-radius: 50%;
}

#triangle {
    width: 0;
    height: 0;
    border-bottom: 100px solid sandybrown;
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
}

#triangle_down {
    width: 0;
    height: 0;
    border-top: 100px solid rgb(51, 35, 73);
    border-right: 60px solid transparent;
    border-left: 60px solid transparent;
}

#triangle_left {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-right: 100px solid forestgreen;
    border-bottom: 60px solid transparent;
}

#triangle_right {
    width: 0;
    height: 0;
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    border-left: 100px solid peru;
}